header,
main,
footer {
	width: 100%;
	margin: 1rem auto;
}

#error_summary {
	color: red;
}

#message {
	color: blue;
}

.empty {
	background: #f0f0f0;
}

.container {
	margin: 0.5rem;
}

nav li {
	list-style: none;
	float: left;
	margin: 1rem;
}

#account li {
	list-style: none;
	float: right;
	margin: 1rem;
}

span .sep {
	clear: both;
}

div.comment {
	width: 600px;
	margin: 0.3rem auto;
	padding: 0.6rem;
	border: 1px solid #999;
	border-radius: 0.5rem;
}

#poem-poem-top main {
	width: 600px;
	height: 200px;
	margin: 4rem 0 0 3rem;
	background-image: url(/images/deer.jpg);

}